/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #00eaff;
}

form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto;
    box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.2);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #00eaff;
    color: #121212;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

input[type="submit"]:hover {
    background-color: #00aaff;
    transform: scale(1.05);
}

/* Error Message */
#error {
    background-color: rgba(255, 0, 0, 0.2);
    color: #ff4c4c;
    padding: 10px;
    margin: 20px auto;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

/* Image Display */
img {
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.3);
    transition: transform 0.2s;
    cursor: zoom-in;
    margin-bottom: 200px; /* Adjust the value as needed */
}

img:active {
    transform: scale(1.8);
    cursor: zoom-out;
}
